
openai-whisper
gTTS
fastapi 
uvicorn
httpcore
deep-translator
pydub
python-multipart
whisperx
openai
transformers
torch
python-dotenv
# !pip install -r requirements.txt --use-deprecated=legacy-resolver
