#root {
  margin: 0;
}


@media screen and (max-width: 900px) {
  .content {
    margin-left: 7%;
  }
}

@media screen and (max-width: 770px) {
  .content {
    margin-left: 7.7%;
  }
}

@media screen and (max-width: 550px) {
  .content {
    margin-left: 8%;
  }
}


@media screen and (max-width: 200px) {
  .content {
    margin-left: 10%;
  }
}

.main-content {
  flex: 1; /* Fills the remaining space between header and footer */
  /* padding: 2rem; Add some spacing */
}
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full height for the app container */
}